﻿#wrapper-confirm {
    width: 980px;
    height: 250px;
    margin: 20px auto;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#wrapper-message {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    font-size: 20px;
    font-family: Tahoma;
    text-align: center;
    position: relative
}

#back-to-main {
    color: darkblue;
}

#back-to-main:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #92c03a;
    font-size: 25px;
}
#message {
    width: 400px;
    height: 150px;
    margin-top: 30px;
    position: absolute;
}
