#wrapper-body
{
	width:100%;
	height:100%;
	border-top:5px solid #195174;
}
#wrapper-body p
{
	padding:0;
	margin:0;
}
#establishments-borders
{
	width:978px;
	height:100%;
	margin:20px auto;
	border-left:5px solid black;
	border-right:5px solid black;
}
.establishments-body
{
	width:730px;
	height:100%;
	border-bottom: 2px solid black;
	margin:20px auto;
	padding:15px;
}
.establishments-header
{
	margin:0 auto;
	width:715px;
	height:30px;
	border-right: 3px solid black;
	border-left: 3px solid black;
	background:lightgray;
	font-size:25px;
	font-weight:bold;
	color:black;
	text-decoration:none;
	padding:10px 5px 5px 10px;
}
.establishments-img
{
	width:730px;
	height:100%;
	margin:0 auto;
}
#chelentano-img
{
	background:url("../images/chelentano.png");
	height:476px;
}
.establishments-description
{
	width:600px;
	height:100%;
	font-size:12px;
	margin:0 auto;
	text-align:justify;
	padding-bottom:10px;
	border-bottom:1px solid #195174;
}
.establishments-menu
{
	width:300px;
	height:205px;
	margin:10px auto;
	background:url("../images/menu-img.png");
}
a:hover .establishments-menu
{
	background:url("../images/hover-menu-img.png");
}
.establishments-contacts
{
	width:415px;
	height:100%;
	margin:10px auto;
	padding:0 0 10px 10px;
	border:1px solid lightgray;
}
