#excursions-borders p {
    padding: 0;
    margin: 0;
}
/*excursions images*/
#babylon-img {
    background: url("../images/excursions-1.jpg");
}

#tea-img {
    background: url("../images/excursions-2.jpg");
}

#mediaevalism-img {
    background: url("../images/excursions-3.jpg");
}

#wrapper-body-of-excursions {
    width: 100%;
    height: 100%;
    border-top: 5px solid #92c03a;
}

#excursions-borders {
    width: 978px;
    height: 100%;
    margin: 0 auto;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.excursions-body {
    width: 730px;
    height: 100%;
    border-bottom: 2px solid black;
    margin: 20px auto;
    padding: 15px;
}

.excursions-header a {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

    .excursions-header a:hover {
        color: #a2a0a0;
    }

.excursions-main {
    height: 250px;
}

    .excursions-main div {
        float: left;
    }

.excursions-img {
    width: 346px;
    height: 206px;
    border: 3px solid black;
    margin: 15px 10px 15px 0;
}

    .excursions-img img {
        min-width: 346px;
        max-width: 346px;
        max-height: 206px;
        min-height: 206px;
    }

.excursions-text {
    width: 346px;
    height: 206px;
    margin: 15px 0 15px 15px;
    font-size: 13px;
}

.excursions-footer {
    width: 730px;
    height: 40px;
    border-right: 3px solid black;
    border-left: 3px solid black;
    background: lightgray;
}

    .excursions-footer div {
        float: left;
    }

.excursions-duration-start {
    width: 193px;
    height: 30px;
    font-size: 18px;
    margin-top: 5px;
    border-right: 2px solid black;
}

.excursions-footer p {
    padding: 5px 5px 5px 10px !important;
}

.excursions-request {
    float: right !important;
    width: 130px;
    height: 35px;
    font-size: 18px;
    background: #000;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    border: none;
}

#last-excursions {
    border: none;
}

.excursion-contact {
    width: 415px;
    height: 100%;
    margin: 10px auto;
    padding: 0 0 10px 10px;
    border: 1px solid lightgray;
}
