﻿#wrapper-sign-up-form {
    width: 345px;
    height: 100%;
    margin: 10px auto;
}

#wrapper-login-form {
    width: 345px;
    height: 200px;
    margin: 10px auto;
}

#sign-up-button {
    width: 324px !important;
    margin-top: 20px !important;
    cursor: pointer;
}

    #sign-up-button:hover, #log-in-button:hover, #send-password-button:hover {
        background-color: #92c03a;
        border: 2px solid black !important;
    }

#request-form {
    height: 100%;
    margin: 20px auto;
}

    #request-form input, select, textarea, label {
        width: 300px;
        height: 40px;
        border: 2px solid lightgray;
        padding-right: 10px;
        padding-left: 10px;
        color: black;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 10px 10px 0 10px;
    }

    #request-form span {
        margin: 10px;
        font-size: 15px;
        display: block;
        color: red;
        font-weight: bold;
    }

#forgot-password span {
    margin: 10px;
    font-size: 15px;
    display: block;
    color: red;
    font-weight: bold;
}

#log-in-button {
    width: 154px !important;
    cursor: pointer;
    float: right;
    display: block;
    margin-left: 80px !important;
    margin-right: 10px !important;
}

#redirect-pass {
    width: 113px;
    height: 15px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

#wrapper-login-form ul {
    padding: 0;
    margin: 0;
}

#wrapper-login-form li {
    list-style: none;
    margin: 10px;
    font-size: 15px;
    display: block;
    color: red;
    font-weight: bold;
}

#forgot-password {
    width: 345px;
    height: 200px;
    margin: 0 auto;
}

#send-password-button {
    width: 200px;
    height: 40px;
    border: 2px solid lightgray;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px 10px 0 10px;
    float: right;
}

.email-type {
    width: 300px;
    height: 40px;
    border: 2px solid lightgray;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px 10px 0 10px;
    float: left;
}

#wrappof-header {
    width: 500px;
    margin: 0 auto;
}

#for-pass {
    text-align: center;
}

#Short {
    max-width: 300px;
    max-height: 100px;
}

#Long {
    max-width: 300px;
    max-height: 300px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#add-one, #add-two, #add-three {
    margin-left: 20px;
    font-size: 20px;
    width: 80px;
    height: 20px;
    background: lightgray;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

    #add-one:hover, #add-two:hover, #add-three:hover {
        cursor: pointer;
        background-color: #92c03a;
        text-decoration: none;
    }

#wrapper-checkbox {
    width: 140px;
    height: 250px;
    text-align: left;
    margin: 0 auto;
}

.checkbox {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    margin-top: 2px !important;
    cursor: pointer;
}

.cancel-right {
    margin-right: 0 !important;
}

.checkbox-and-label {
    float: left !important;
    margin: 15px 33px 10px 10px;
    width: 100%;
}

.label-pm {
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
    border: none;
}

fieldset {
    margin: 10px 10px;
    padding: 10px;
    width: 300px;
}
