body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6em;
    font-family: Tahoma;
}

#wrapper-header {
    border-top: 5px solid #195174;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #195174;
}

#wrapper-top-header {
    width: 100%;
    background-color: beige;
    border-bottom: 2px solid black;
}

#wrapper-double-header {
    width: 1178px;
    height: 40px;
    margin: 0 auto;
    padding-top: 7px;
}

#header {
    width: 978px;
    height: 100px;
}

#logo {
    float: left;
    width: 300px;
    height: 80px;
    background: url('../images/logo.png');
    margin-top: 10px;
}

a:visited {
    border: none;
}

a:hover #logo {
    background: url('../images/hover-logo.png');
}

#menu {
    float: right;
    margin-top: 30px;
}

.menu-list li {
    float: left;
    font-size: 18px;
    list-style: none;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: bold;
    color: #a2a0a0;
}

.menu-list a {
    color: black;
    text-decoration: none;
}

    .menu-list a:hover {
        color: #a2a0a0;
        border-bottom: 2px solid darkblue !important;
    }

.selected {
    color: #a2a0a0 !important;
    border-bottom: 2px solid darkblue !important;
}

.wrapper-bg {
    width: 100%;
    height: 620px;
    background: url("../images/wrapper-bg.png") center center no-repeat #a2a0a0;
}

.wrapper-img-menu {
    width: 100%;
    height: 250px;
}

#inner-menu {
    width: 978px;
    height: 220px;
    margin: 0 auto;
}

    #inner-menu div {
        width: 306px;
        height: 220px;
        float: left;
        margin-top: 15px;
        margin-right: 25px;
    }

#hotels {
    background: url("../images/hotel-img.png");
}

a:hover #hotels {
    background: url("../images/hover-hotel-img.png");
}

#cafe {
    background: url("../images/cafe-img.png");
}

a:hover #cafe {
    background: url("../images/hover-cafe-img.png");
}

#excursions {
    margin-right: 0 !important;
    background: url("../images/excursions-img.png");
}

a:hover #excursions {
    background: url("../images/hover-excursions-img.png");
}

#wrapper-footer-nav {
    width: 100%;
    height: 170px;
    border-top: 5px solid #195174;
    margin-top: 17px;
}

#feedback {
    height: 91px !important;
    background: url("../images/feedback.png");
    width: 250px !important;
    margin: 45px auto !important;
    float: none !important;
}

a:hover #feedback {
    background: url("../images/hover-feedback.png");
}

#footer-nav {
    width: 978px;
    height: 150px;
    margin: 0 auto;
}

    #footer-nav div {
        width: 306px;
        height: 150px;
        float: left;
        margin: 15px 20px 0 0;
    }

#footer-menu li {
    float: none !important;
    margin: 10px auto;
}

#contacts {
    margin-right: 0 !important;
}

#wrapper-footer {
    width: 100%;
    height: 100px;
    background: #a2a0a0;
    border-top: 5px solid #92c03a;
    margin-top: 20px;
}

#footer {
    width: 978px;
    height: 100px;
    margin: 0 auto;
}

#copyright {
    font-size: 18px;
    color: white;
    margin: 0 auto;
    width: 240px;
    padding-top: 40px;
}

#contacts-info {
    font-size: 16px;
    width: 245px !important;
    margin: 20px auto !important;
}

#sign-up-in {
    float: right;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#max-wrapper-header {
    width: 1178px;
    height: 100px;
    margin: 0 auto;
}

.sign {
    font-size: 18px;
    color: black;
    font-family: Tahoma;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}

#slash {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.sign:hover {
    color: #a2a0a0;
}

#login {
    width: 50px;
}
#map {
    width: 726px;
    height: 400px;
    font-size: 15px;
    border: 2px solid black;
    margin: 0 auto;
}
.i4ewOd-rECkYc-pzNkMb-haAclf.qAWA2.QUIbkc {
    display: none !important;
}