﻿#request-form {
    width: 600px;
    height: 400px;
    margin: 20px auto;
}

    #request-form input {
        width: 300px;
        height: 40px;
        border: 2px solid lightgray;
        padding-right: 10px;
        padding-left: 10px;
        color: black;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 10px 10px 0 10px;
    }

    #request-form label {
        font-size: 20px;
    }

.form-group label {
    float: left;
}

.form-group {
    height: 60px;
    width: 470px;
}

    .form-group div {
        float: right;
    }

.wrapper-txt-val {
    height: 60px;
}

    .wrapper-txt-val div {
        float: left;
    }

.label-for {
    width: 100px;
    margin-top: 20px !important;
}

.wrapper-txt-val span {
    margin-top: 20px;
    font-size: 15px;
    display: block;
    color: red;
    font-weight: bold;
}

#edit-button {
    width: 324px !important;
    margin-top: 20px !important;
    margin-right: 35px !important;
    cursor: pointer;
}

    #edit-button:hover {
        background-color: #92c03a;
        border: 2px solid black !important;
    }
