﻿@using System.Web.Optimization
@model CityCenter.WebUI.Frontend.Models.Account.PasswordRecoveryModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {

    @Styles.Render("~/Content/account")
}

@section scripts {

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body" id="last-excursions">
            <div class="header-for-excursions">
                <p>
                    Password Recovery
                </p>
            </div>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @id = "request-form" }))
            {
                <div id="wrapper-sign-up-form">
                    @Html.HiddenFor(m => m.UserId)
                    @Html.PasswordFor(m => m.NewPassword, new {@placeholder = "New Password"})
                    @Html.ValidationMessageFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPasswordConfirmation, new {@placeholder = "Confirm new Password"})
                    @Html.ValidationMessageFor(m => m.NewPasswordConfirmation)
                    <input type="submit" id="sign-up-button" name="sign-up-button" value="Change"/>
                </div>
            }
        </div>
    </div>
</div>