﻿@using System.Web.Optimization
@model CityCenter.WebUI.Frontend.Models.Account.RestorePasswordModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    @Styles.Render("~/Content/account")
}

@section scripts {

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrappof-header">
<h3 id="for-pass">Forgot password?</h3>
<h4>Enter your account email and we send new password</h4>
    </div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "forgot-password"}))
{
    <div id="wrapper-forgot-form">
        @Html.TextBoxFor(m => m.Email, new { @id = "Email", @class="email-type", @placeholder = "Type your E-mail" })
        @Html.ValidationMessageFor(m => m.Email)
        <input type="submit" id="send-password-button" name="end-password-button" value="Send Password" />
    </div>
}

