﻿@using System.Web.Optimization

@model CityCenter.WebUI.Frontend.Models.Account.UserLogInModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    @Styles.Render("~/Content/account")
}

@section scripts{

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body" id="last-excursions">
            <div class="header-for-excursions">
                <p>
                    Log in to panel
                </p>
            </div>
            @using (Html.BeginForm("LogIn", "Account", new {ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "request-form" }))
            {
                <div id="wrapper-login-form">
                    @Html.TextBoxFor(m => m.Login, new { @id = "Login", @placeholder = "Login or E-mail" })
                    @Html.ValidationMessageFor(m => m.Login)
                    @Html.PasswordFor(m => m.Password, new { @id = "Password", @placeholder = "Password" })
                    @Html.ValidationSummary(true)
					<a href="@Url.Action("ForgotPassword", "Account")" id="redirect-pass">Forgot password?</a>
                    <input type="submit" id="log-in-button" name="sign-up-button" value="Log in" />
                </div>
            }
        </div>
    </div>
</div>
