﻿@using System.Web.Optimization

@model CityCenter.WebUI.Frontend.Models.Account.UserSignUpModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {

    @Styles.Render("~/Content/account")
}

@section scripts {

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body" id="last-excursions">
            <div class="header-for-excursions">
                <p>
                    Sign up
                </p>
            </div>
            @using (Html.BeginForm("SignUpSubmit", "Account", FormMethod.Post, new { @id = "request-form" }))
            {
                <div id="wrapper-sign-up-form">
                    @Html.TextBoxFor(m => m.Login, new { @id = "Login", @placeholder = "Login" })
                    @Html.ValidationMessageFor(m => m.Login)
                    @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.Surname, new { @class = "cancel-right", @id = "Surname", @placeholder = "Surname" })
                    @Html.ValidationMessageFor(m => m.Surname)
                    @Html.TextBoxFor(m => m.Email, new { @id = "Email", @placeholder = "E-mail" })
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Phone, new { @class = "cancel-right", @id = "Phone", @placeholder = "Phone" })
                    @Html.ValidationMessageFor(m => m.Phone)
                    @Html.PasswordFor(m => m.Password, new { @id = "Password", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                    @Html.PasswordFor(m => m.PasswordConfirmation, new { @id = "PasswordConfirmation", @placeholder = "Confirm password" })
                    @Html.ValidationMessageFor(m => m.PasswordConfirmation)
                    <input type="submit" id="sign-up-button" name="sign-up-button" value="Sign up" />
                </div>
            }
        </div>
    </div>
</div>
