﻿@using System.Web.Optimization

@{
    ViewBag.Title = "SignUpConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style {

    @Styles.Render("~/Content/confirm")
}

<div id="wrapper-confirm">
    <div id="wrapper-message">
        <div id="message">
            <p>
                Thanks, your registration completed.
            </p>
            <p>
                Please confirm your registration in email.
            </p>
            <a href="@Url.Action("Index", "MainPage")" id="back-to-main">
                Go to main page
            </a>
        </div>
    </div>
</div>
