﻿@using System.Web.Optimization
@model CityCenter.WebUI.Frontend.Models.Excursion.ExcursionDescriptionModel

@{
    ViewBag.Title = "ExcursionInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    @Styles.Render("~/Content/excursion")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body">
            <div class="header-for-excursions">
                <p>
                    @Model.Name
                </p>
            </div>
            <div class="all-text-of-excursions">
                <p>
                    @Model.Description.LongDescription
                </p>
            </div>
            <div class="excursion-contact ">
                <h2>
                    Contact Information
                </h2>
                <p>
                    City: Lviv
                </p>
                <p>
                    Address: @Model.Excursion.Address
                </p>
            </div>
            <a href="@Url.Action("ExcursionRegistration", "ExcursionRegistration", new {excursionId = @Model.Excursion.Id})">
                <div class="excursions-request-button">
                    <p>
                        Send request
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>