﻿@{
    ViewBag.Title = "CityCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-bg">
</div>
<div class="wrapper-img-menu">
    <div id="inner-menu">
        <a href="@Url.Action("Hotels", "Hotels")">
            <div id="hotels">
            </div>
        </a>
        <a href="@Url.Action("Excursions", "Excursions")">
            <div id="excursions">
            </div>
        </a>
        <a href="@Url.Action("Map", "MainPage")">
            <div id="cafe">
            </div>
        </a>
        
    </div>
</div>
