﻿@using System.Web.Optimization
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {

    @Styles.Render("~/Content/account")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body" id="last-excursions">
            <div class="header-for-excursions">
                <p>
                    Here you can find all hotels and excursions
                </p>
            </div>
            <iframe src="https://www.google.com/maps/d/embed?mid=zOzGaUBntPsQ.k0jK59t2bJBM" id="map"></iframe>
        </div>
    </div>
</div>
