﻿@model CityCenter.WebUI.Frontend.Models.Hotel.HotelDescriptionModel


<div class="hotels-body">
    <div class="hotels-header">
        <p>
            @Model.HotelName
        </p>
    </div>
    <div class="hotels-img">
        <img src="@Url.Action("GetHotelImage", "Hotels", new { hotelId = @Model.HotelDescription.HotelId})" alt="@Model.HotelName" />
    </div>
    <div class="hotels-info">
        <div class="hotels-description">
            <h2>
                @Model.HotelDescription.Header
            </h2>
            <p>
                @Model.HotelDescription.Description
            </p>
        </div>
        <a href="@Url.Action("HotelBooking", "HotelBooking", new { hotelId = Model.HotelDescription.HotelId })" id="link-button">
            <div class="hotels-reserve-button">
                <p>
                    Book room
                </p>
            </div>
        </a>
        <div class="hotels-contacts">
            <h2>
                Contact Information
            </h2>
            <p>
                City: Lviv
            </p>
            <p>
                Address: @Model.HotelDescription.Address
            </p>
            <p>
                Phone: @Model.HotelDescription.Phone
            </p>
            <p>
                Site: <a href="@Model.HotelDescription.Site">@Model.HotelDescription.Site</a>
            </p>
        </div>
    </div>
</div>
