﻿@using System.Web.Optimization
@model CityCenter.WebUI.Frontend.Models.Excursion.ExcursionDescriptionModel
@{
    ViewBag.Title = "EditExcursionContent";
    Layout = "~/Views/ExcursionAdministratorPanel/_MenuLayout.cshtml";
}

@section style{

    @Styles.Render("~/Content/edit-content")
}

<div id="wrapper-panel-body">
    <div id="wrapper-panel-body-func">
        @Html.Partial("_Navigation", new ViewDataDictionary { { "id", @Model.Description.ExcursionId }, { "PendingCount", ViewBag.CountOfPendingReservation } })
        <div id="wrapper-panel-func">
            @using (Html.BeginForm("EditExcursionContent", "ExcursionAdministratorPanel", FormMethod.Post, new { @id = "request-form" }))
            {
                <div id="wrapper-txt-box">
                    <div class="txt-box">
                        @Html.LabelFor(m => m.Excursion.Name)
                        @Html.TextBoxFor(m => m.Excursion.Name)
                    </div>
                    <div class="txt-box">
                        @Html.LabelFor(m => m.Excursion.Address)
                        @Html.TextBoxFor(m => m.Excursion.Address)
                    </div>
                    <div class="txt-box">
                        @Html.LabelFor(m => m.Excursion.BeginTime)
                        @Html.TextBoxFor(m => m.Excursion.BeginTime)
                    </div>
                    <div class="txt-box">
                        @Html.LabelFor(m => m.Excursion.Duration)
                        @Html.TextBoxFor(m => m.Excursion.Duration)
                    </div>
                </div>
                <div id="txt-area-head-ex">
                    @Html.LabelFor(m => m.Description.ShortDescription)
                    @Html.TextAreaFor(m => m.Description.ShortDescription)
                </div>
                <div id="txt-area-desc-ex">
                    @Html.LabelFor(m => m.Description.LongDescription)
                    @Html.TextAreaFor(m => m.Description.LongDescription)
                </div>
                @Html.HiddenFor(m => m.Description.ExcursionId)
                <input type="submit" id="edit-button" name="edit-button" value="Edit" />
            }
            @using (Html.BeginForm("UploadNewImage", "ExcursionAdministratorPanel", new { excursionId = @Model.Description.ExcursionId }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "choise-img" }))
            {
                <img src="@Url.Action("GetExcursionImage", "Excursions", new { @Model.Description.ExcursionId })" alt="@Model.Excursion.Name" />
                <input type="file" name="Image" />
                <input type="submit" value="Update Photo" />
            }
        </div>
    </div>
</div>
