﻿@using CityCenter.WebUI.Frontend.Code
@{
    var excursionId = (int)ViewData["id"];
    var countOfPendingReservation = (int)ViewData["PendingCount"];
}
<div id="wrapper-panel-button">
    <a href="@Url.Action("EditExcursionContent", "ExcursionAdministratorPanel", new {excursionId})">
        <div class="panel-buttons @Html.ActivePage("EditExcursionContent", "ExcursionAdministratorPanel")">
            Edit Excursion Content
        </div>
    </a>
    <a href="@Url.Action("AcceptedReservations", "ExcursionAdministratorPanel", new {excursionId })">
        <div class="panel-buttons @Html.ActivePage("AcceptedReservations", "ExcursionAdministratorPanel")">
            Reservations
        </div>
    </a>

    <a href="@Url.Action("PendingReservations", "ExcursionAdministratorPanel", new {excursionId })">
        <div class="panel-buttons @Html.ActivePage("PendingReservations", "ExcursionAdministratorPanel")">
            Pending Reservations @if (countOfPendingReservation != 0)
            {
                <span id="count-reservation">+@countOfPendingReservation</span>
            }
        </div>
    </a>
</div>

