﻿@using System.Web.Optimization
@using PagedList.Mvc
@model CityCenter.WebUI.Frontend.Models.Panel.AdminExcursionReservationDetailsModel
@{
    ViewBag.Title = "Accepted Reservations";
    Layout = "~/Views/ExcursionAdministratorPanel/_MenuLayout.cshtml";
    var totalItems = ViewBag.TotalItems;
    var pageSize = ViewBag.PageSize;
}

@section style{
    @Styles.Render("~/Content/show-reservations")
    @Styles.Render("~/Content/paged-list")
}

<div id="wrapper-panel-body">
    <div id="wrapper-panel-body-func">
        @Html.Partial("_Navigation", new ViewDataDictionary { { "id", @Model.ExcursionId }, { "PendingCount", ViewBag.CountOfPendingReservation } })
        <div id="wrapper-panel-func">
            @if (@Model.ReservationDetails.Count != 0)
            {
                foreach (var reservation in @Model.ReservationDetails)
                {
                    @Html.Partial("_Reservations", reservation)
                }
                if (totalItems > pageSize)
                {
                    @Html.PagedListPager(Model.ReservationDetails, page => @Url.Action("AcceptReservation", "ExcursionAdministratorPanel", new { excursionId = @Model.ExcursionId, page }))
                }
            }
            else
            {
                <h3>No reservations</h3>
            }
        </div>
    </div>
</div>
