﻿@using CityCenter.WebUI.Frontend.Code
<div id="wrapper-panel-button">
    <a href="@Url.Action("Info", "UserPanel")">
        <div class="panel-buttons @Html.ActivePage("Info", "UserPanel")">
            User Info
        </div>
    </a>
    <a href="@Url.Action("ChangePassword", "UserPanel")">
        <div class="panel-buttons @Html.ActivePage("ChangePassword", "UserPanel")">
            Change Password
        </div>
    </a>
    <a href="@Url.Action("Feedback", "UserPanel")">
        <div class="panel-buttons @Html.ActivePage("Feedback", "UserPanel")">
            Feedback
        </div>
    </a>
    <a href="@Url.Action("Reservations", "UserPanel")">
        <div class="panel-buttons @Html.ActivePage("Reservations", "UserPanel")">
            My bookings
        </div>
    </a>
    <a href="@Url.Action("MyExcursions", "UserPanel")">
        <div class="panel-buttons @Html.ActivePage("MyExcursions", "UserPanel")">
            My excursions
        </div>
    </a>
</div>
