﻿@using System.Web.Optimization
@using CityCenter.WebUI.Frontend.Code
@model CityCenter.WebUI.Frontend.Models.Account.СhangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section style {

    @Styles.Render("~/Content/hotel-reserve")
}

@section scripts {

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrapper-panel-body">
    <div id="wrapper-panel-body-func">
        @Html.Partial("_Navigation")
        <div id="wrapper-panel-func">
            <div id="wrapper-form">
                @using (Html.BeginForm("ChangePassword", "UserPanel", FormMethod.Post, new { @id = "request-form" }))
                {
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "Current Password" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(m => m.NewPasswordConfirmation, new { @placeholder = "Confirm new Password" })
                        @Html.ValidationMessageFor(m => m.NewPasswordConfirmation)
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Change" class="change-password" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>