﻿@using System.Web.Optimization
@using CityCenter.WebUI.Frontend.Code
@model CityCenter.WebUI.Frontend.Models.Account.FeedbackModel

@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section style {

    @Styles.Render("~/Content/hotel-reserve")
}

@section scripts{

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrapper-panel-body">
    <div id="wrapper-panel-body-func">
        @Html.Partial("_Navigation")
        <div id="wrapper-panel-func">
            @using (Html.BeginForm("Feedback", "UserPanel", FormMethod.Post, new { @id = "request-form" }))
            {
                <div id="wrapper-form">
                    @Html.TextBoxFor(model => model.Login, new { @id = "Login", @readonly = "true", @name = "Login", @class = "full-name" })
                    @Html.ValidationMessageFor(m => m.Login)
                    @Html.TextBoxFor(model => model.Email, new { @id = "Email", @readonly = "true", @name = "Email", @class = "e-mail" })
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.TextAreaFor(model => model.Message, new { @id = "Message", @name = "Message", @rows = "10", @cols = "45" })
                    @Html.ValidationMessageFor(m => m.Message)
                    <input type="submit" name="request-button" id="request-button" value="Send">
                </div>
            }
        </div>
    </div>
</div>

