﻿@using System.Web.Optimization
@using CityCenter.WebUI.Frontend.Code
@model CityCenter.WebUI.Frontend.Models.Panel.PanelUserInfoModel

@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@section style{

    @Styles.Render("~/Content/user-info")
}

@section scripts {

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrapper-panel-body">
    <div id="wrapper-panel-body-func">
        @Html.Partial("_Navigation")
        <div id="wrapper-panel-func">
            @using (Html.BeginForm("Info", "UserPanel", FormMethod.Post, new { @id = "request-form" }))
            {
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="wrapper-txt-val">
                        <div class="label-for">
                            @Html.LabelFor(model => model.FirstName)
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.FirstName)
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>

                    <div class="wrapper-txt-val">
                        <div class="label-for">
                            @Html.LabelFor(model => model.Surname)
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Surname)
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Surname)
                        </div>
                    </div>

                    <div class="wrapper-txt-val">
                        <div class="label-for">
                            @Html.LabelFor(model => model.Phone)
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Phone)
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>
                    <div class="wrapper-txt-val">
                        <div class="label-for">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Email)
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Edit" id="edit-button" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

