﻿@using System.Web.Optimization
@model CityCenter.WebUI.Frontend.Models.Excursion.NewExcursionModel

@{
    ViewBag.Title = "NewExcursion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {

    @Styles.Render("~/Content/account")
}

@section scripts {

    @Scripts.Render("~/bundles/jquery-validation")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body" id="last-excursions">
            <div class="header-for-excursions">
                <p>
                    New Excursion
                </p>
            </div>
            @using (Html.BeginForm("AddNewExcursion", "AddNew", FormMethod.Post, new { @id = "request-form" }))
            {
                <div id="wrapper-sign-up-form">
                    @Html.TextBoxFor(m => m.Name, new { @id = "Login", @placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Address, new { @id = "FirstName", @placeholder = "Address" })
                    @Html.ValidationMessageFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Duration, new { @class = "cancel-right", @id = "Surname", @placeholder = "Duration HH:MM" })
                    @Html.ValidationMessageFor(m => m.Duration)
                    @Html.TextBoxFor(m => m.BeginTime, new { @id = "Email", @placeholder = "BeginTime HH:MM" })
                    @Html.ValidationMessageFor(m => m.BeginTime)
                    @Html.TextBoxFor(m => m.Price, new { @class = "cancel-right", @id = "Phone", @placeholder = "Price" })
                    @Html.ValidationMessageFor(m => m.Price)
                    @Html.TextAreaFor(m => m.ShortDescription, new { @id = "Short", @placeholder = "ShortDescription" })
                    @Html.ValidationMessageFor(m => m.ShortDescription)
                    @Html.TextAreaFor(m => m.LongDescription, new { @id = "Long", @placeholder = "LongDescription" })
                    @Html.ValidationMessageFor(m => m.LongDescription)
                    <input type="submit" id="sign-up-button" name="sign-up-button" value="Add excursion" />
                </div>
            }
        </div>
    </div>
</div>