﻿@using System.Web.Optimization
@model CityCenter.WebUI.Frontend.Models.Hotel.AddNewHotelModel
@{ ViewBag.Title = "New hotel";

 Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style {

    @Styles.Render("~/Content/account")
}

@section scripts {

    @Scripts.Render("~/bundles/jquery-validation")
    @Scripts.Render("~/bundles/add-new-hotel")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body" id="last-excursions">
            <div class="header-for-excursions">
                <p>
                    New Excursion
                </p>
            </div>
            @using (Html.BeginForm("AddNewHotel", "AddNew", FormMethod.Post, new { @id = "request-form" }))
            {
                <div id="wrapper-sign-up-form">
                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Address, new { @placeholder = "Address" })
                    @Html.ValidationMessageFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Rating, new { @placeholder = "Rating" })
                    @Html.ValidationMessageFor(m => m.Rating)
                    <fieldset>
                        <div id="wrapper-checkbox">
                            <div class="checkbox-and-label">
                                @Html.Label("Parking", new { @for = "parking", @class = "label-pm" })
                                @Html.CheckBoxFor(m => m.Parking, new { @class = "checkbox", @checked = "false", @name = "parking", @id = "parking" })
                            </div>
                            <div class="checkbox-and-label">
                                @Html.Label("Pool", new { @for = "pool", @class = "label-pm" })
                                @Html.CheckBoxFor(m => m.Pool, new { @class = "checkbox", @checked = "false", @name = "pool", @id = "pool" })
                            </div>
                            <div class="checkbox-and-label">
                                @Html.Label("Sauna", new { @for = "sauna", @class = "label-pm" })
                                @Html.CheckBoxFor(m => m.Sauna, new { @class = "checkbox", @checked = "false", @name = "sauna", @id = "sauna" })
                            </div>
                            <div class="checkbox-and-label" id="tenis">
                                @Html.Label("Tenis court", new { @for = "tenis-court", @class = "label-pm" })
                                @Html.CheckBoxFor(m => m.TennisCourt, new { @class = "checkbox", @checked = "false", @name = "tenis-court", @id = "tenis-court" })
                            </div>
                            <div class="checkbox-and-label cancel-right">
                                @Html.Label("Gym", new { @for = "gym", @class = "label-pm" })
                                @Html.CheckBoxFor(m => m.Gym, new { @class = "checkbox", @checked = "false", @name = "gym-court", @id = "gym" })
                            </div>
                        </div>
                    </fieldset>
                    @Html.TextBoxFor(m => m.Header, new { @placeholder = "Header" })
                    @Html.ValidationMessageFor(m => m.Header)
                    @Html.TextAreaFor(m => m.Description, new { @placeholder = "Description" })
                    @Html.ValidationMessageFor(m => m.Description)
                    @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Phone" })
                    @Html.ValidationMessageFor(m => m.Phone)
                    @Html.TextBoxFor(m => m.Site, new { @placeholder = "Site" })
                    @Html.ValidationMessageFor(m => m.Site)
                    <span style="color: black">Fill hotel room types (up to 4)</span>
                    <fieldset>
                        <span style="color: black">RoomType</span>
                        @Html.TextBoxFor(m => m.RoomType1, new { @placeholder = "RoomType" })
                        @Html.ValidationMessageFor(m => m.RoomType1)
                        @Html.TextBoxFor(m => m.Price1, new { @placeholder = "Price" })
                        @Html.ValidationMessageFor(m => m.Price1)
                        @Html.TextBoxFor(m => m.RoomsCount1, new { @placeholder = "RoomsCount" })
                        @Html.ValidationMessageFor(m => m.RoomsCount1)
                        <div id="add-one">Add</div>
                    </fieldset>
                    <fieldset id="two" class="hide">
                        <span style="color: black">RoomType</span>
                        @Html.TextBoxFor(m => m.RoomType2, new { @placeholder = "RoomType" })
                        @Html.ValidationMessageFor(m => m.RoomType2)
                        @Html.TextBoxFor(m => m.Price2, new { @placeholder = "Price" })
                        @Html.ValidationMessageFor(m => m.Price2)
                        @Html.TextBoxFor(m => m.RoomsCount2, new { @placeholder = "RoomsCount" })
                        @Html.ValidationMessageFor(m => m.RoomsCount2)
                        <div id="add-two">Add</div>
                    </fieldset>
                    <fieldset id="three" class="hide">
                        <span style="color: black">RoomType</span>
                        @Html.TextBoxFor(m => m.RoomType3, new { @placeholder = "RoomType" })
                        @Html.ValidationMessageFor(m => m.RoomType3)
                        @Html.TextBoxFor(m => m.Price3, new { @placeholder = "Price" })
                        @Html.ValidationMessageFor(m => m.Price3)
                        @Html.TextBoxFor(m => m.RoomsCount3, new { @placeholder = "RoomsCount" })
                        @Html.ValidationMessageFor(m => m.RoomsCount3)
                        <div id="add-three">Add</div>
                    </fieldset>
                    <fieldset id="four" class="hide">
                        <span style="color: black">RoomType</span>
                        @Html.TextBoxFor(m => m.RoomType4, new { @placeholder = "RoomType" })
                        @Html.ValidationMessageFor(m => m.RoomType4)
                        @Html.TextBoxFor(m => m.Price4, new { @placeholder = "Price" })
                        @Html.ValidationMessageFor(m => m.Price4)
                        @Html.TextBoxFor(m => m.RoomsCount4, new { @placeholder = "RoomsCount" })
                        @Html.ValidationMessageFor(m => m.RoomsCount4)
                    </fieldset>
                    <input type="submit" id="sign-up-button" name="sign-up-button" value="Add excursion" />
                </div>
            }
        </div>
    </div>
</div>