﻿@using System.Web.Optimization
@model CityCenter.WebUI.Frontend.Models.Excursion.ExcursionRegistrationModel

@{
    ViewBag.Title = "ExcursionRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    @Styles.Render("~/Content/account")
    @Styles.Render("~/Content/datapicker")
}

@section scripts{
    @Scripts.Render("~/bundles/jquery-validation")
    @Scripts.Render("~/bundles/datapicker")
    <script src="~/Scripts/pages/excursion-reserve-form.js"></script>
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body" id="last-excursions">
            <div class="header-for-excursions">
                <p>
                    @ViewBag.Name
                </p>
            </div>
            @using (Html.BeginForm("ExcursionRegistration", "ExcursionRegistration", FormMethod.Post, new { @id = "request-form" }))
            {
                <div style="text-align: center">
                    <img src="@Url.Action("GetExcursionImage", "Excursions", new { excursionId = @Model.ExcursionId })" alt="Registration" />
                </div>
                <div id="wrapper-sign-up-form">
                    @Html.TextBoxFor(m => m.Date, new { @id = "Date", @placeholder = "Date", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.Date)
                    @Html.TextBoxFor(m => m.FirstName, new { @id = "FirstName", @placeholder = "First Name", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.Surname, new { @class = "cancel-right", @id = "Surname", @placeholder = "Surname", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.Surname)
                    @Html.TextBoxFor(m => m.Email, new { @id = "Email", @placeholder = "E-mail", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Phone, new { @class = "cancel-right", @id = "Phone", @placeholder = "Phone", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.Phone)
                    @Html.HiddenFor(m => m.ExcursionId)
                    <input type="submit" id="sign-up-button" name="sign-up-button" value="Send request" />
                </div>
            }
        </div>
    </div>
</div>
