﻿@using System.Web.Optimization
@using CityCenter.WebUI.Abstract
@using CityCenter.WebUI.Frontend.Code

@{
    Layout = null;
    var securityManager = DependencyResolver.Current.GetService<ISecurityManager>();
    var username = securityManager.GetCurrentUser();
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="City Center guide for tourists">
    <meta name="author" content="City Center Team">
    <title>@ViewBag.Title</title>
    <link href="~/Content/styles/panel-style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/images/inner-logo.ico" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("style", false)
    @RenderSection("scripts", false)
    @RenderSection("ico", false)
</head>
<body>
    <div id="wrapper-panel-header">
        <header id="header">
            <a href="@Url.Action("Panel", "UserPanel")">
                <div id="logo">
                </div>
            </a>
            <div id="sign-up-in">
                @if (User.IsInRole("ExcursionAdmin"))
                {
                    <a class="sign" href="@Url.Action("Panel", "ExcursionAdministratorPanel")">Excursions</a>
                    <span class="slash">|</span>
                }
                @if (User.IsInRole("HotelAdmin"))
                {
                    <a class="sign" href="@Url.Action("Panel", "HotelAdministratorPanel")">Hotels</a>
                    <span class="slash">|</span>
                }
                <a class="sign @(username == "" ? @Html.ActivePage("SignUp", "Account") : null)" href="@(Url.Action("Panel", "UserPanel"))">@username</a>
                <span class="slash">|</span>
                <a class="sign" href="@(Url.Action("Index", "MainPage"))">Go to main page</a>
                <span class="slash">|</span>
                <a class="sign @(username == "" ? @Html.ActivePage("LogIn", "Account") : null)" id="login" href="@(Url.Action("LogOut", "Account"))">Log out</a>
            </div>

        </header>
    </div>


    <div id="wrapper-all-body">
        @RenderBody()
    </div>
    <div id="wrapper-footer">
        <footer id="footer">
            <p id="copyright">
                Copyright © 2015 City Center
            </p>
        </footer>
    </div>
</body>
</html>
