﻿@using System.Web.Optimization
@model HandleErrorInfo

@{
    ViewBag.Title = "Error 500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    @Styles.Render("~/Content/error-500")
}

<div id="wrapper-error-page">
    <div id="wrapper-error">
        <a href="@Url.Action("Index","MainPage")">
            <div id="back-to-home">
            </div>
        </a>
    </div>
</div>