﻿@using System.Web.Optimization
@{
    ViewBag.Title = "Error 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    @Styles.Render("~/Content/error-404")
}

<div id="wrapper-error-page">
    <div id="wrapper-error">
        <a href="@Url.Action("Index","MainPage")">
            <div id="back-to-home">
            </div>
        </a>
    </div>
</div>