﻿@using System.Web.Optimization

@{
    ViewBag.Title = "RequestSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {

    @Styles.Render("~/Content/confirm")
}

<div id="wrapper-confirm">
    <div id="wrapper-message">
        <div id="message">
            <p>
                Your request sent.
            </p>
            <p>

            </p>
            <a href="@Url.Action("Index", "MainPage")" id="back-to-main">
                Go to main page
            </a>
        </div>
    </div>
</div>

