﻿body {
    background: black;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Tahoma;
}


#header {
    height: 70px;
    width: 100%;
}


#wrapper-header {
    width: 1200px;
    margin: 0 auto;
    border-bottom: 3px solid white;
    border-top: none;
    height: 70px;
}


#href-logo {
    width: 300px;
    height: 60px;
    display: block;
    float: left;
}


#admin-logo {
    width: 300px;
    height: 60px;
    margin-top: 5px;
    background: url('../Images/admin-logo.png');
}


#href-sign-out {
    width: 173px;
    height: 22px;
    display: block;
    float: right;
}

#sing-out {
    float: right;
}

#signOut {
    width: 173px;
    height: 22px;
    margin-top: 24px;
    background: url('../Images/sign-out.png');
    border: none;
    cursor: pointer;
}


.wrapper-content {
    width: 1200px;
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
    margin: 0 auto;
}


#wrapper-error {
    width: 400px;
    text-align: justify;
    margin: 10px auto;
}


#wrapper-button {
    width: 680px;
    margin: 20px auto;
}


.control-button {
    float: left;
    width: 200px;
    height: 50px;
    margin: 50px 13px 0 13px;
    background: #778796;
    border: 3px solid white;
    border-left: none;
    border-right: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


    .control-button:hover {
        color: black;
        border-color: black;
    }


#add-button {
    width: 680px;
    margin: 0 auto;
    height: 100px;
}


.edit-button {
    width: 470px;
    height: 100px;
    margin: 0 auto;
    display: none;
}


.add-request {
    font-size: 15px;
    margin: 20px auto;
    width: 260px;
    height: 200px;
    border: 4px double white;
    text-align: center;
}


    .add-request input {
        border: none;
        background: black;
        color: white;
        text-align: center;
        height: 30px;
    }


    .add-request td {
        height: 30px;
    }


    .add-request a {
        width: 100px;
        font-size: 18px;
        background: gray;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        text-align: center;
        display: block;
        float: left;
        margin: 5px 0 5px 15px;
        height: 31px;
    }


#wrapper-grid {
    width: 1200px;
    margin: 0 auto;
}


#wrapper-search {
    width: 210px;
    float: right;
    margin-right: 10px;
}


.txt-search {
    width: 135px;
    background: none;
    height: 19px;
    font-size: 15px;
    color: white;
    padding: 1px 30px 1px 5px;
    border: 2px solid gray;
    position: relative;
}


.btn-reset {
    float: right;
    margin-right: 45px;
    margin-top: -17px;
    width: 10px;
    height: 10px;
    background: url('../Images/btn-reset.png');
    padding: 5px;
    border: none;
    cursor: pointer;
    position: relative;
}


.btn-search {
    width: 27px;
    height: 27px;
    background: url('../Images/btn-search.png');
    border: none;
    position: relative;
    cursor: pointer;
    display: block;
    margin-top: -25px;
    float: right;
}


#grid-view {
    width: 1180px;
    margin: 20px auto;
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}


#grid-block {
    width: 705px;
    margin: 0 auto;
}


.grid-view {
    margin: 0 auto;
}


.edit-textbox {
    text-align: center;
    border: none;
    width: 120px;
    height: 30px;
    background: none;
    font-weight: bold;
}


.edit-row-style {
    border: 3px solid brown;
    border-left: none;
    border-right: none;
}


.role-table {
    text-align: left;
    display: none;
}


    .role-table td {
        border: 1px solid white;
    }


#wrapper-footer {
    width: 1200px;
    margin: 0 auto;
    border-top: 3px solid #FFF;
}


#footer {
    width: 100%;
    height: 70px;
}


#foot-text {
    width: 200px;
    height: 20px;
    font-size: 18px;
    margin: 20px auto;
    color: white;
}


.display-block {
    display: block;
}


.display-none {
    display: none;
}


.error-message {
    color: #fff;
    font-size: 20px;
}


.error-reason {
    color: #ECB91B;
}


.error-suggestion {
    color: #0BD80B;
}


.btn-back {
    width: 130px;
    height: 30px;
    background: url('../Images/error-back.png');
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}



.error {
    margin: 5px;
}

#loggedInUserName {
    font-size: 23px;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: white;
    padding-bottom: 10px !important;
    margin: 10px;
    height: 30px !important;
}
