﻿.top {
    background: #133b5e;
    font-size: 14px;
    font-family: Tahoma;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#admin-panel {
    width: 330px;
    height: 330px;
    margin: 100px auto;
}

#header {
    width: 330px;
    margin-left: 60%;
    height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.border {
    width: 330px;
    height: 8px;
    background: url("../images/top-border.png") repeat-x;
    margin-top: 10px;
}

form {
    margin-left: 14px;
}

    form input {
        width: 252px;
        height: 43px;
        background: url("../images/admin-login.png");
        border: none;
        padding-right: 40px;
        padding-left: 10px;
        color: white;
        font-size: 20px;
        margin-top: 20px;
    }

#loginForm_Password {
    background: url("../images/admin-password.png");
}

#loginForm_LoginButton {
    width: 80px;
    height: 40px;
    border: none;
    padding-left: 12px;
    color: black;
    font-size: 20px;
    margin-top: 20px;
    background: white;
    cursor: pointer;
}

#loginForm_RememberMe {
    width: 20px;
    height: 20px;
    margin-top: 5px !important;
    cursor: pointer;

}

form label {
    height: 30px !important;
    color: white;
    display: inline;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;
    padding-bottom: 10px;
}

form label, input {
    float: right;
}
