﻿@using System.Web.Optimization

@model CityCenter.WebUI.Frontend.Models.Hotel.BookingRoomModel

@{
    ViewBag.Title = "HotelBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var displayParking = (!Model.Parking) ? "none" : "block";
    var displayPool = (!Model.Pool) ? "none" : "block";
    var displaySauna = (!Model.Sauna) ? "none" : "block";
    var displayTennisCourt = (!Model.TennisCourt) ? "none" : "block";
    var displayGym = (!Model.Gym) ? "none" : "block";
}

@section style {

    @Styles.Render("~/Content/hotel-reserve")
    @Styles.Render("~/Content/datapicker")
}

@section scripts {

    @Scripts.Render("~/bundles/jquery-validation")
    @Scripts.Render("~/bundles/datapicker")
    @Scripts.Render("~/bundles/hotel-reserve")
}

<div id="wrapper-body-of-excursions">
    <div id="excursions-borders">
        <div class="excursions-body" id="last-excursions">
            <div class="header-for-excursions">
                <p>
                    Book room at @ViewBag.HotelName
                </p>
            </div>
            @using (Html.BeginForm("HotelBookingSubmit", "HotelBooking", FormMethod.Post, new { @id = "request-form" }))
            {
                <div style="text-align: center">
                    <img src="@Url.Action("GetHotelImage", "Hotels", new {@Model.HotelId})" alt="Book Room" />
                </div>
                <div id="wrapper-form">
                    <div id="wrapper-input">
                        @Html.TextBoxFor(m => m.BeginDate, new {@id = "BeginDate", @placeholder = "Begin date", @readonly = "true"})
                        @Html.ValidationMessageFor(m => m.BeginDate)
                        @Html.TextBoxFor(m => m.EndDate, new {@class = "cancel-right", @id = "EndDate", @placeholder = "End date", @readonly = "true"})
                        @Html.ValidationMessageFor(m => m.EndDate)
                        @Html.DropDownListFor(m => m.SelectedRoomType, Model.RoomType, "--Select room type--", new {@class = "hide cancel-right", @id = "room-type"})
                        @Html.ValidationMessageFor(m => m.SelectedRoomType)
                        @Html.HiddenFor(m => m.HotelId)
                        @Html.TextBoxFor(m => m.FirstName, new {@id = "FirstName", @readonly = "readonly", @placeholder = "First Name"})
                        @Html.ValidationMessageFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.Surname, new {@class = " cancel-right", @id = "Surname", @readonly = "readonly", @placeholder = "Surname"})
                        @Html.ValidationMessageFor(m => m.Surname)
                        @Html.TextBoxFor(m => m.Email, new {@id = "Email", @readonly = "readonly", @placeholder = "Email"})
                        @Html.ValidationMessageFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Phone, new {@class = "cancel-right", @id = "Phone", @readonly = "readonly", @placeholder = "Phone"})
                        @Html.ValidationMessageFor(m => m.Phone)
                    </div>
                    <div id="wrapper-checkbox">
                        <div class="checkbox-and-label" style="display: @displayParking">
                            @Html.Label("Parking", new { @for = "parking", @class = "label-pm" })
                            @Html.CheckBoxFor(m => m.Parking, new { @class = "checkbox", @checked = "false", @name = "parking", @id = "parking" })
                        </div>
                        <div class="checkbox-and-label" style="display: @displayPool">
                            @Html.Label("Pool", new { @for = "pool", @class = "label-pm" })
                            @Html.CheckBoxFor(m => m.Pool, new { @class = "checkbox", @checked = "false", @name = "pool", @id = "pool" })
                        </div>
                        <div class="checkbox-and-label" style="display: @displaySauna">
                            @Html.Label("Sauna", new { @for = "sauna", @class = "label-pm" })
                            @Html.CheckBoxFor(m => m.Sauna, new { @class = "checkbox", @checked = "false", @name = "sauna", @id = "sauna" })
                        </div>
                        <div class="checkbox-and-label" id="tenis" style="display: @displayTennisCourt">
                            @Html.Label("Tenis court", new { @for = "tenis-court", @class = "label-pm" })
                            @Html.CheckBoxFor(m => m.TennisCourt, new { @class = "checkbox", @checked = "false", @name = "tenis-court", @id = "tenis-court" })
                        </div>
                        <div class="checkbox-and-label cancel-right" style="display: @displayGym">
                            @Html.Label("Gym", new { @for = "gym", @class = "label-pm" })
                            @Html.CheckBoxFor(m => m.Gym, new { @class = "checkbox", @checked = "false", @name = "gym-court", @id = "gym" })
                        </div>
                    </div>
                    <input type="submit" name="request-button" id="request-button" value="Send request">
                </div>
            }
        </div>
    </div>
</div>